@font-face {
  font-family: 'Modern Era';
  font-style: normal;
  font-weight: 400;
  src: url('./ModernEra-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Era';
  font-style: italic;
  font-weight: 400;
  src: url('./ModernEra-RegularItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Era';
  font-style: normal;
  font-weight: 500;
  src: url('./ModernEra-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Era';
  font-style: italic;
  font-weight: 500;
  src: url('./ModernEra-BoldItalic.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Era';
  font-style: normal;
  font-weight: 700;
  src: url('./ModernEra-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Modern Era';
  font-style: italic;
  font-weight: 700;
  src: url('./ModernEra-ExtraBoldItalic.ttf') format('truetype');
}
html {
  font-family: 'Modern Era', sans-serif;
}
